<!DOCTYPE html>
<html lang="en">
    <head>
        <title>React Test</title>
        <link rel="stylesheet" type="text/css" href="/building/chainreaction/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
        <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    </head>
    <body></body>
    <script type="text/javascript" src="/building/chainreaction/js/all.js"></script>
</html>